@model CharCreator.Models.StoryCreate

@{
    ViewBag.Title = "Create";
}

<h1>Create New Story</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Characters, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Characters", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Characters, "Characters:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.CharacterIds, Model.Characters, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Characters, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<table class="col-md-5">
                <tr>
                    @{
                        int count = 0;
                        List<CharCreator.Models.CharListItem> characters = ViewBag.AllCharacters;
                        foreach (var character in characters)
                        {
                            if (count++ % 3 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                       name="selectedCharacters"
                                       value="@character.Characters"
                                       @(Html.Raw(character.Assigned ? "checked=\"checked\"" : "")) />
                                @character.Characters @: @character.CharName
                            @: </td>
                        }
                    @:</tr>
                    }
            </table>*@
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
