@model IEnumerable<CharCreator.Data.Story>

@{
    ViewBag.Title = "Index";
}

<h1>Story Index</h1>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Characters)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ListBox("ID", new SelectList(item.Characters, "ID", "CharName"), new { @class = "form-control"})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
