@model CharCreator.Models.CharClassDetail

@{
    ViewBag.Title = "Details";
}

<h1>Class Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpellCaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellCaster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HitPointsFirstLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HitPointsFirstLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proficiencies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proficiencies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
