@model IEnumerable<CharCreator.Models.CharClassListItem>

@{
    ViewBag.Title = "Index";
}

<h1>Classes</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpellCaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HitPointsFirstLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proficiencies)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //@Html.HiddenFor(modelItem => item.ID)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpellCaster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitPointsFirstLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proficiencies)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ID }) |

            </td>
        </tr>
    }

</table>
